/ * andrea¨/

/* Estilos globales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  width: 100vw;
}

/* header */

.header__container{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: auto;
background-color:#bf7645a8;
box-shadow: 0 px 5px rgba(0, 0, 0, 0.3);
text-align: center;
z-index: 2;
}

.header__container ul{
display: flex;
justify-content: center;
gap: 40px;
line-height: 50px;
list-style: none;
}

.header__container ul li a{
  text-decoration: none;
  color: rgb(251, 248, 248);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.6s;
}

.header__container ul li a:hover{
  color: #b356d2;
  font-size: 20px;
}

.header__container ul li .container__logo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}

/* banner */
.banner{
  display: grid;
  height: 100vh;
  place-items: center;
  text-align: center;
  background-image: url(../img/1.jpg);
  background-color: white;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner__text{
  z-index: 1;
}

.banner::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner__text h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 70px;
  text-transform: uppercase;
}

.banner__text p{
  color: white;
  font-weight: 900;
  font-size: 30px;
  margin-top: 50px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}


.banner__text a{
  text-decoration: none;
  color: white;
  font-size: 30x;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  background-color:#bf7645a8;
  padding: 20px 60px;
  display: inline-block;
  margin-top: 50px;
  border-radius: 24px;
  border: 2px solid #b356d2;
  transition: all 0.4s;
  text-decoration: none;
  
}
.banner__text a:hover{
  color: #b356d2;
  font-size: 20px;
  background-color: hwb(242 10% 75%);
}

/* about */ 
.about{
  padding: 2px 0;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
  flex: 1;
}


.section-header{
  margin-top: 30px;
  text-align: center;
 
}


.section-header h2{
  font-size: 40px;
  color:#bf7645a8;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  text-align:center;
  text-transform: uppercase;
  padding-top:100px;
}

.section-header p{
  padding-top: 30px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.9;
  color: black;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.single-about img{
  width: 50%;
  object-fit: cover;
  padding-top: 30px

}

.single-about h2{
  font-size: 40px;
  color: #bf7645a8;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  text-align:center;
  text-transform: uppercase;
  padding-top:100px;
}

.single-about p{
  padding-top: 30px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.9;
  color: black;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* service */
.service{
  padding: 50px;
}

.section-header h2{
  font-size: 40px;
  padding-top: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-header p{
  margin: auto;
  font-size: 25px;
  line-height: 1,9;
  padding-top: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  

}

.service-content{
  display: flex;
}

.service-content img{
  width: 100%;
  height: 50%;
  padding: 30px;
  
}

.service-content h2{
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
  font-size: 40px;
  color: #bf7645a8;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  text-transform: uppercase;
  padding: top 10px;px;

}

.service-content p{
  line-height: 1.9;
 padding: 10;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



/* contact */

.contact{
  padding: 40px 0;
}

.single-contact{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.single-contact input{
  width: 90%;
  height: 50px;
  margin: 10px;
  border: none;
  border-bottom: 3px solid #bf7645a8;
}

.single-contact textarea{
  width: 90%;
  height: 120px;
  border: none;
  border-bottom: 3px solid #bf7645a8;
}

.single-contact input:last-child{
  border: none;
  background-color: #bf7645a8;
  color: white;
}

.single-contact input:last-child:hover{
  background-color: #bf7645a8;
}

/* footer */

footer{
  background-color: #bf7645a8;
  color: #fff;
  line-height: 2;
  text-align: center;
}

@media (max-width:991px) {
  
  .header__container ul li a{
  }


}

@media (max-width:360px) {
  .header__container ul li a{
    
  }
}